<!-- <div class="container">
  <form accept-charset="UTF-8" action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    
    <label for="user_username">Username (4-30 characters):</label>
    <input id="user_username" type="text" name="user[username]"/><br/>
    
    <label for="user_email">E-mail address:</label>
    <input id="user_email" type="text" name="user[email]"/><br/>
    
    <label for="user_password">Password (6-30 characters):</label>
    <input id="user_password" type="password" name="user[password]"/><br/>
    
    <input id="new_user_submit" type="submit" value="Submit"/>
  </form>
</div> -->

<!-- <div class="container">
  <%= form_tag("/users", method: "post") do %>
    <%= label_tag(:username, "Username (4-30 characters):") %>
    <%= text_field_tag(:username) %><br/>
    <%= label_tag(:email, "E-mail address:") %>
    <%= text_field_tag(:email) %><br/>
    <%= label_tag(:password, "Password (6-30 characters):") %>
    <%= password_field_tag(:password) %><br/>
    <%= submit_tag("Submit") %>
  <% end %>
</div> -->

<div class="container">
  <%= form_for @user do |f| %>
    <%= f.label(:username, "Username (4-30 characters):") %>
    <%= f.text_field(:username, placeholder: "username") %><br/>
    <%= f.label(:email, "E-mail address:") %>
    <%= f.text_field(:email, placeholder: "example@example.com") %><br/>
    <%= f.label(:pasword, "Password (6-30 characters):") %>
    <%= f.password_field(:password) %><br/>
    <%= f.submit("Submit") %>
  <% end %>
</div>